*{
    box-sizing: border-box;
}

.header{
    display: flex;
}

.header .nav_menu{
    padding-left: 0;
    display: flex;
    list-style: none;
}

.nav_menu .li{
    padding: 8px 16px;
}

.nav_menu li a{
    text-decoration: none;
}